
{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}} Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}} Interactive Prototype <!-- You can change the service name by editing the file '/app/config.js' -->
      </h1>
      <p>
        Interactive prototypes for {{serviceName}}
      </p>
      <p>
        Content &amp; layout of this page TBC
      </p>

      <h2 class="govuk-heading-m">Apply</h2>

      <p>Making an application for temporary accommodation</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}

      <h3 class="govuk-heading-m">GOV.UK resources</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Prototype kit documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
