
{% extends "layout.html" %}

{% block pageTitle %}
  CAS3 Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CAS3 Interactive Prototypes <!-- You can change the service name by editing the file '/app/config.js' -->
      </h1>
      <p>
        Interactive prototypes for CAS3
      </p>

      <h2 class="govuk-heading-l">Apply</h2>

      <p>Making an application for temporary accommodation</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/input-length-of-time">Input a length of time</a>
        </li>
        <li>
          <a class="govuk-link" href="/guidance-on-question-pages">Guidance on question pages</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l">Receive/Assess</h2>

      <p>Receiving and assessing application for temporary accommodation</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="receive/application-dashboard/item-1">Application Dashboard</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
