
{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}} Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}} Interactive Prototype <!-- You can change the service name by editing the file '/app/config.js' -->
      </h1>
      <p>
        Interactive prototypes for {{serviceName}}
      </p>

      <h2 class="govuk-heading-m">Apply</h2>

      <p>Making an application for temporary accommodation</p>

      <h3 class="govuk-heading-s">User testing</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/input-length-of-time">Input a length of time</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
