
{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Accommodation referral details</span>
            <h1 class="govuk-heading-l">
                Duty to Refer (DTR) / National Offender Pathway (NOP) must be submitted before application to Temporary Accommodation (TA) is made.
            </h1>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            <p class="govuk-body">Back to <a href="#" class="govuk-link">Task list</a>.</p>

        </div>
    </div>

{% endblock %}
