
{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">CAS3 Interactive Prototypes</span>
            <h1 class="govuk-heading-l">
                Question and follow-up flow
            </h1>

            <p>Test for the question and follow-up flow</p>
            
            <p>Two options here</p>

            <ul class="govuk-list">
                <li>
                    <a class="govuk-link" href="/question-follow-up-2">Follow up as reveal</a>
                </li>
                <li>
                    <a class="govuk-link" href="/question-follow-up-1">Follow up on next page</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}
